<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Arthur Alvim">
    <meta name="description" content="A simple todo app.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Todo App{% endblock title %}</title>

    <!-- styles -->
    {% block styles %}
    <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet">
    {% endblock styles %}

    <!-- favs and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>
    {% block menu %} {% endblock menu %}
    {% block content %} {% endblock content %}

    {% block scripts %}
    <script src="{{ STATIC_URL }}js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/main.js" type="text/javascript" charset="utf-8"></script>
    {% endblock scripts %}

  </body>
</html>
