*.db
*.log
*.pid
*.pyc
*.sck
*.sqlite3
*.todo
*.md
*~
.coverage
.DS_Store
.env
.noseids
.vagrant
todo/cover/*
requirements.local.txt
todo/media/*
!todo/media/media.empty
todo/staticfiles/*
!todo/staticfiles/static.empty
Makefile
